@model TimPhongTro.Models.NGUOIDUNG
@{
    ViewBag.Title = "Sửa thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-banner hero-banner-sm">
    <div class="container text-center">
        <h2>Chỉnh sửa thông tin</h2>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa thông tin</li>
            </ol>
        </nav>
    </div>
</section>
<br/>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="white-box">
                        @using (Html.BeginForm("SuaThongTin", "NguoiDung", FormMethod.Post, new { id = Model.MaKH }))
                        {
                            <div class="form-group">
                                <label class="col-md-12">Tên người dùng</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(Model => Model.TenKH, new { @class = "form-control form-control-line", @value = "Model.TenKH" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Số điện thoại</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(Model => Model.Sdt, new { @class = "form-control form-control-line", @value = "Model.Sdt" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Địa chỉ</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(Model => Model.DiaChi, new { @class = "form-control form-control-line", @value = "Model.DiaChi" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Giới tính</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(Model => Model.GioiTinh, new { @class = "form-control form-control-line", @value = "Model.GioiTinh" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success">Cập Nhật</button>
                                    <a class="btn btn-success" href="@Url.Action("ThongTin","NguoiDung")">Huỷ</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        }
                    </div>
                </div>
                <div class="col-sm-3"></div>
        </div>
    </div>
</div>
