@model TimPhongTro.Models.PHONGTRO

@{
    ViewBag.Title = "SuaTinPhong";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Chỉnh sửa thông phòng trọ</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    @using (Html.BeginForm("SuaTinPhong", "QLyTin", FormMethod.Post, new { id = Model.MaPhong }))
                    {
                        <div class="form-group">
                            <label class="col-md-12">Số phòng:</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(Model => Model.SoPhong, new { @class = "form-control form-control-line", @value = "Model.SoPhong" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Diện tích: </label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(Model => Model.DienTich, new { @class = "form-control form-control-line", @value = "Model.DienTich" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Giá thuê: </label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(Model => Model.GiaThue, new { @class = "form-control form-control-line", @value = "Model.GiaThue" })
                            </div>
                        </div>

                        if (Model.Loai == "Ở ghép")
                        {
                            <div class="form-group">
                                <label class="col-md-12">Số người ở: </label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(Model => Model.SoNguoiO, new { @class = "form-control form-control-line", @value = "Model.SoNguoiO" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label class="col-md-12">Địa chỉ: </label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(Model => Model.DiaChi, new { @class = "form-control form-control-line", @value = "Model.DiaChi" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">Cập Nhật</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
